
/model-1F/1FA

/model-1F/env

/model-1F/recursos/datasets

/model-1F/runs/*

/model-1F/datasetmanager.py
/model-1F/yolo11n.pt
/model-1F/yolov8n.pt

/model-1F/1F tensorflow/*

/model-1F/yolo11m-cls.pt
/model-1F/yolo11m.pt
/model-1F/yolov8m.pt
/model-1F/1F yolov8/*

/back/.env



